<div class="dashboard-container">
  <li>
      <div class="post-container row">
        <div class="post col-4">
            <div class="post-title">
              <a href="/post/{{id}}" class="links">{{title}}</a>
              <p class="tag">type: {{tag}}</p>
            </div>
          <p class="post-details">Posted by {{user.username}} on {{created_at}} </p>
          <div class="content">
            <p class="post-content">
              {{post_body}}
            </p>
          </div>
          <div class="likes-comments">
            <a>{{vote_count}} point(s)</a>
            <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
            <a href="/post/{{id}}">comment</a>
          </div>
        </div>
      </div>
  </li>
</div>