<li>
    <div class="post-container row">
      <div class="post col-3">
          <div class="post-name">
            <a href="/post/{{id}}" class="links">{{title}}</a>
          </div>
         <p class="post-details">Posted by {{user.username}} on {{created_at}} </p>
        <div class="content">
          <p class="post-content">
            {{post_body}}
          </p>
        </div>
        <div class="likes-comments">
        {{vote_count}} point(s)
      
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
      </div>
    </div>
</li>